body{
margin: 0;
font-family: Arial, sans-serif;
background-color: #f7f7f7;
}
.banner{
background: linear-gradient(135deg, #ff4d4d, #ff9966);
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 100%;
height: 250px;
overflow: hidden;
}

.banner-img{
width: 100%;
height:100%
object-fit: cover;
filter: brightness(70%);
}

.banner-text {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-align:center ;
}

.banner-text h1{
font-size: 1.2rem;
margin: 0px;
max-width: 250px;
margin: 0 auto;

}

.banner-text p{
opacity: 0.9;
font-size: 2.5rem;
}

.banner-text{
position: absolute;
z-index: 2;
}

.banner{
position: relative;
width: 100%;
height: 260px;
overflow: hidden;
}

.banner::after {
content:"";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: linear-gradient( to bottom, rgba(0,0,0.3). rgba(0,0,0.6:));
z-index: 1;
}


/*Banner Container*/
.banner {
position: relative;
width: 100%;
height: 250px;
}






.tagline {
opacity: 0.9;
margin: 10px;
font-size: 0.75rem;
}

/*Mobile fix*/
@media (max-width:600px){
.banner{height: 180px;}
}



.menu{
max-width: 600px;
margin: 30px auto;
padding:0% 20px;
}

.menu h2 {
text-align: center;
margin-bottom: 20px ;
}

.menu-section {
background: white;
margin-bottom: 20px;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 8px; rgba(0, 0, 0, 0.1);
}

.menu-section h3 {
margin: 0 0 15px;
border-bottom: 2px solid #eee;
padding-bottom: 5px;
}

.item{
display: flex;
justify-content: space-between;
padding: 6px 0;
font-size: 1.1rem;
}

/*Back button*/
.back-btn {
display: inline-block;
margin: 20px 0;
padding: 10px 18px;
background-color: #ff4d4d;
color: white;
text-decoration: none;
border-radius: 6px;
font-weight: bold;
transition: 0.2s;
}
.back-btn:hover {
background-color: #e04343;
}

/*Index button*/
.index-btn {
    display: inline-block;
margin: 20px 0;
padding: 10px 18px;
background-color: #ff4d4d;
color: white;
text-decoration: none;
border-radius: 6px;
font-weight: bold;
transition: 0.2s;
}
.index-btn:hover {
background-color: #e04343;
}


.banner-text p {
    font-size: 0.9rem;
}

.index-btn p{
padding: 10px 16px;
font-size: 0.9rem;
}

.back-btn p{
padding: 10px 16px;
font-size: 0.9rem;
}

.banner{
height: 200px;
}